
<div class="favorites-bar">
            
	<div id="favorites-bar_toggle">
		<input type="checkbox" />

		<!-- <span></span>
		<span></span> -->

		<span>
			Aall your
			<i class="fas fa-heart i--favorite"></i>
		</span>
		



		<div class="favorites-bar_container">
            <div class="section_header">
	    		<h2>Your list of favorites</h2>
	    	</div>


        	<div class="row">
        		<div class="col-12">
        			
        			<div class="results results--favorites">
        				<ul>
        					
        				</ul>
        			</div>

        		</div>
        	</div>
		</div>

	</div>

</div>