<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="section_header">
		    		<h1>Yoyo Cinema</h1>
		    		<a href="./favorites.html">
		    			See all your loved ones here 
		    			<i class="fas fa-heart i--favorite"></i>
		    		</a>
		    	</div>

	        	<div class="row">
		            <div class="col-12">

	            		<div class="search">
            		        <input type="text" placeholder="Search for movies.."> 
            		        <i class="fas fa-search"></i>
	            		</div>
		                
		            </div>
		        </div>

	        	<div class="row">
	        		<div class="col-12">
	        			
	        			<div class="results results--search">
	        				<form>
	        					<ul>

		        				</ul>
	        				</form>
	        			</div>

	        		</div>
	        	</div>

			</div>
		</div>
	</div>
</div>



<!-- remove go back button - erstat med scroll -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
	                    
                <div class="section_header">
		    		<h1>Your list of favorites</h1>
		    		<a href="#" onclick="goBack()">
		    			Go back to add more favoritas 
		    			<i class="fas fa-search"></i>
		    		</a>
		    	</div>


	        	<div class="row">
	        		<div class="col-12">
	        			
	        			<div class="results results--favorites">
	        				<ul>
	        					
	        				</ul>
	        			</div>

	        		</div>
	        	</div>
		        
			</div>
		</div>
	</div>
</div>