<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">

	                    
                <div class="section_header">
		    		<h1>Yoyo Cinema</h1>
		    		<a href="./favorites.html">
		    			See all your loved ones here 
		    			<i class="fas fa-heart i--favorite"></i>
		    		</a>
		    	</div>


		    	<!-- skal slettes igen -->
		    	<div class="row">
		    		<div class="col-12">
		    			
		    			<div class="results results--favorites">
		    				<ul>
		    					
		    				</ul>
		    			</div>

		    		</div>
		    	</div>



	        	<div class="row">
		            <div class="col-12">

	            		<div class="search">
            		        <input type="text" placeholder="Search for movies.."> 
            		        <i class="fas fa-search"></i>
	            		</div>
		                
		            </div>
		        </div>


	        	<div class="row">
	        		<div class="col-12">
	        			
	        			<div class="results results--search">
	        				<form>
	        					<ul>
		        					<li>
		        						<div class="results_item">
		        							test1
		        							<div class="results_item_choices">
		        								<button class="btn btn--rounded btn--details">Show details</button>
		        								<label class="checkbox">
	                                                <input 
	                                                type="checkbox" 
	                                                id="choose-support-option"
	                                                name="favorite"
	                                                value=""
	                                                >
	                                                <i class="far fa-heart i--favorite"></i>
	                                            </label>
		        							</div>
		        						</div>
		        					</li>
		        				</ul>
	        				</form>
	        			</div>

	        		</div>
	        	</div>
		        


			</div>
		</div>
	</div>
</div>