<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="section_header">
		    		<h1>Yoyo Cinema</h1>
		    	</div>

	        	<div class="row">
		            <div class="col-12">

	            		<div class="search">
            		        <input type="text" placeholder="Search for movies.."> 
            		        <i class="fas fa-search"></i>
	            		</div>
		                
		            </div>
		        </div>

	        	<div class="row">
	        		<div class="col-12">
	        			
	        			<div class="results results--search">
	        				<form>
	        					<ul>

		        				</ul>
	        				</form>
	        			</div>

	        		</div>
	        	</div>

			</div>
		</div>
	</div>
</div>