

// colors
$black: #000000;
$white: #FFFFFF;
$faded-grey: #D6D6D6;

$pink: #f34d57;
$dark-purple: #110630;
$purple: #34148f;


// font
$font-basic: 'Roboto', sans-serif;;


// transition
$transition-ease: all 0.2s ease-in-out;


// screen size
$small-screen: 800px;
$medium-screen: 1024px;
$large-screen: 1280px;
$x-large-screen: 1600px;
