
.section{
	padding-top: 100px;
	padding-bottom: 100px;

	&_header{
        position: relative;

        a{
        	position: absolute;
    		bottom: 0;
    		right: 0;

            @media (max-width: $small-screen) {
                position: relative;
            }
        }
	}
}